body{
  display: inline-block;
  width:100%;
  text-align: center;
  background-image: url(../img/0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Microsoft JhengHei,Arial;

}
.text1{
  text-align: center;
}
.card_header{
  margin-left:200px;
  font-size: 25px;
  font-weight: bolder;
  padding: 10px;
  color: white;
  background-color: #ef9a9a;
}
.card_content{

  padding-top: 15px;
  padding-right: 20px;
  padding-left: 220px;
  text-align: center;
}

.card_bottom{

  position:absolute;
  bottom:10px;
  right:24%;

}
